In [1]:
!pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: pandas>=0.24.2 in d:\software\anaconda\lib\site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: numpy>=1.16.2 in d:\software\anaconda\lib\site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: scipy>=1.2.1 in d:\software\anaconda\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: setuptools in d:\software\anaconda\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: matplotlib>=3.0.0 in d:\software\anaconda\lib\site-packages (from mlxtend) (3.4.3)
Requirement already satisfied: joblib>=0.13.2 in d:\software\anaconda\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scikit-learn>=1.0.2 in d:\software\anaconda\lib\site-packages (from mlxtend) (1.1.1)
Requirement already satisfied: python-dateutil>=2.7 in d:\software\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\software\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in d:\software\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: cycler>=0.10 in d:\software\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in d:\software\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: six in d:\software\anaconda\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in d:\software\anaconda\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\software\anaconda\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.21.0

In [6]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd

In [3]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kdiney Beans', 'Yogurt'],
           ['Corn', 'Onine', 'Onine', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [10]:
dataframe = pd.DataFrame(dataset)
dataframe

      0        1             2             3          4       5
0  Milk    Onion        Nutmeg  Kidney Beans       Eggs  Yogurt
1  Dill    Onion        Nutmeg  Kidney Beans       Eggs  Yogurt
2  Milk    Apple  Kidney Beans          Eggs       None    None
3  Milk  Unicorn          Corn  Kdiney Beans     Yogurt    None
4  Corn    Onine         Onine  Kidney Beans  Ice cream    Eggs

In [7]:
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   Apple   Corn   Dill   Eggs  Ice cream  ...  Nutmeg  Onine  Onion  Unicorn  Yogurt
0  False  False  False   True      False  ...    True  False   True    False    True
1  False  False   True   True      False  ...    True  False   True    False    True
2   True  False  False   True      False  ...   False  False  False    False   False
3  False   True  False  False      False  ...   False  False  False     True    True
4  False   True  False   True       True  ...   False   True  False    False   False

[5 rows x 13 columns]

In [8]:
# 获取频繁集
apriori(df, min_support=0.6)  # 这个不会返回具体项的名称,若要返回具体项的名称,则需要指定use_columns=True

   support itemsets
0      0.8      (3)
1      0.8      (6)
2      0.6      (7)
3      0.6     (12)
4      0.8   (3, 6)

In [11]:
apriori(df, 0.6, True).dtypes

support     float64
itemsets     object
dtype: object

In [13]:
frequent_itemsets = apriori(df, 0.6, True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].map(lambda x: len(x))
frequent_itemsets

   support              itemsets  length
0      0.8                (Eggs)       1
1      0.8        (Kidney Beans)       1
2      0.6                (Milk)       1
3      0.6              (Yogurt)       1
4      0.8  (Kidney Beans, Eggs)       2

In [15]:
frequent_itemsets[(frequent_itemsets['length']>=2) & (frequent_itemsets['support']>=0.8)]

   support              itemsets  length
4      0.8  (Kidney Beans, Eggs)       2