In [1]:
import pandas as pd

In [2]:
csv_file = r'../data/gapminder.csv'

In [3]:
chunksize=500

In [6]:
dataiter = pd.read_csv(csv_file, chunksize=chunksize)

In [10]:
a = next(dataiter)
a

,geo,time,adults_with_hiv_percent_age_15_49,age_at_1st_marriage_women,aged_15_24_employment_rate_percent,aged_15_24_unemployment_rate_percent,aged_15_64_labour_force_participation_rate_percent,aged_15plus_employment_rate_percent,aged_15plus_labour_force_participation_rate_percent,aged_15plus_unemployment_rate_percent,...,underweight_children,urban_population,urban_population_growth_annual_percent,urban_population_percent_of_total,urban_poverty_percent_urban_people_below_national_urban,water_and_sanitation_aid_given_percent_of_aid,water_withdrawal_cu_meters_per_person,wood_removal_cubic_meters,working_hours_per_week,yearly_co2_emissions_1000_tonnes
1500,aus,2090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1501,aus,2091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1502,aus,2092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1503,aus,2093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1504,aus,2094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,aut,1984,NaN,NaN,NaN,5.10,NaN,NaN,NaN,4.50,...,NaN,4954705.0,0.05477,65.526,NaN,0.5295,NaN,NaN,NaN,54550.292
1996,aut,1985,NaN,NaN,NaN,4.29,NaN,NaN,NaN,4.80,...,NaN,4960058.0,0.10798,65.566,NaN,1.1240,469.6,NaN,NaN,54700.639
1997,aut,1986,NaN,NaN,NaN,3.95,NaN,NaN,NaN,5.20,...,NaN,4966239.0,0.12454,65.606,NaN,5.9350,NaN,NaN,NaN,54080.916
1998,aut,1987,NaN,NaN,NaN,4.99,NaN,NaN,NaN,3.79,...,NaN,4972413.0,0.12424,65.646,NaN,0.2680,NaN,NaN,NaN,57744.249
1999,aut,1988,NaN,NaN,NaN,4.57,NaN,NaN,NaN,3.55,...,NaN,4982491.0,0.20247,65.686,NaN,1.5700,NaN,NaN,NaN,53340.182

In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [4]:
csv_database = create_engine(r'sqlite://d:/study/notebook/数据分析python数据分析/data/csv_database.db')

ValueError: invalid literal for int() with base 10: ''

In [5]:
import dask.dataframe as dd

In [6]:
df = dd.read_csv('../data/gapminder.csv')

In [7]:
df.head()

,geo,time,adults_with_hiv_percent_age_15_49,age_at_1st_marriage_women,aged_15_24_employment_rate_percent,aged_15_24_unemployment_rate_percent,aged_15_64_labour_force_participation_rate_percent,aged_15plus_employment_rate_percent,aged_15plus_labour_force_participation_rate_percent,aged_15plus_unemployment_rate_percent,...,underweight_children,urban_population,urban_population_growth_annual_percent,urban_population_percent_of_total,urban_poverty_percent_urban_people_below_national_urban,water_and_sanitation_aid_given_percent_of_aid,water_withdrawal_cu_meters_per_person,wood_removal_cubic_meters,working_hours_per_week,yearly_co2_emissions_1000_tonnes
0,afg,1700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,afg,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,afg,1801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,afg,1802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,afg,1803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 537 entries, geo to yearly_co2_emissions_1000_tonnes
dtypes: object(1), float64(535), int64(1)

In [13]:
radiator_df = df[df['Descriptor']=='RADIATOR']
radiator_df

KeyError: 'Descriptor'